<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8"/>
  <title>Archiwum książek</title>
      <link rel="stylesheet" href="css/style1.css"/>
</head>

<body>


<h1><span class="blue">&lt;</span>Archiwum<span class="blue">&gt;</span>
    <span class="yellow">Książek</span></h1>
<table class="container">
	<thead>

		<tr>
            <th><h1>Nazwa</h1></th>
            <th><h1>Autor</h1></th>
            <th><h1>Rok</h1></th>
            <th><h1>Czy dostępna</h1></th>
		</tr>
	</thead>
	<tbody th:each="book : ${books}" th:remove="tag">
    <div th:if="${book.getStatus()=='AVAILABLE'}">
        <tr>
            <td><a th:href="@{${url} + ${#strings.replace(book.getName(),' ','_')}}" th:text="${book.getName()} + '   '"></a></td>
            <td><a th:href="@{${url} + ${book.getName()}}" th:text="${book.getAuthor()}"></a></td>
            <td><a th:href="@{${url} + ${book.getName()}}" th:text="${book.getYear()}"></a></td>
            <td><a th:href="@{${url} + ${book.getName()}}" th:text="${book.getStatus()}"></a></td>
        </tr>
    </div>

    <div th:if="${book.getStatus()=='OUT'}">
        <tr>
            <td th:text="${book.getName()} + '   '"></td>
            <td th:text="${book.getAuthor()} + '   '"></td>
            <td th:text="${book.getYear()} + '   '"></td>
            <td th:text="${book.getStatus()} + '   '"></td>
        </tr>
    </div>

    </tbody>
</table>
  
  

</body>

</html>
