<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Rental by Timur</title>
    <link th:href="@{/css/mystyle.css}" rel="stylesheet" />
</head>

<body>
<div th:if="${showw=='yes'}">
    <table>
        <tbody>
        <tr>
            <td th:text="${clothExists.collection}"></td>
            <td th:text="${clothExists.model}"></td>
        </tr>
        </tbody>

    </table>
</div>
<div class="container">
    <form action="#" th:action="@{/clothing/{clothname}(clothname=${clothname})}" th:object="${ship}" method="POST">
        <input name="value" th:text="FAST_BUSINESS_STANDARD" type="text" th:field="*{type}"/>
        <input name="value" th:text="Begin_periode" type="text" th:field="*{begin}"/>
        <input name="value" th:text="End_periode" type="text" th:field="*{end}"/>

        <p><input type="submit" value="Submit" /></p>
    </form>
</div>


</body>

</html>