<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Rental by Timur</title>
</head>

<body>
    <h1>I am Timur, and my rental service can help you with</h1>
    <!--/*--><!--@thymesVar id="books" type="List<com.example.demo.models.Book>"--><!--*/-->
    <!--/*--><!--@thymesVar id="book" type="com.example.demo.models.Book"--><!--*/-->

    <table>
        <tbody th:each="book : ${books}" th:remove="tag">
        <tr>
            <td th:text="${book.getName()}"></td>
            <td th:text="${book.getAuthor()}"></td>
        </tr>
        </tbody>
    </table>

</body>

</html>