<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Rental by Timur</title>
    <link rel="stylesheet" href="css/style1.css"/>
</head>

<body>
<table class="container">
    <thead>

    <tr>
        <th><h1>Początek</h1></th>
        <th><h1>Koniec</h1></th>
        <th><h1>Nazwa</h1></th>
    </tr>
    </thead>
    <tbody th:each="ship : ${situations}" th:remove="tag">
    <tr>
        <td><a th:text="${ship.begin}"></a> </td>
        <td><a th:text="${ship.end}"></a> </td>
        <td><a th:text="${ship.product}"></a> </td>
        <br/>
    </tr>
    </tbody>

    </table>
</body>

</html>